.city-list {
    max-height: 100px;
    width: 170px;
    overflow: scroll;
    position: static;
}

.city-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.city {
    text-decoration: none;
    color: black;
}

.city:hover {
    color: blue;
    cursor: pointer;
}